## ==== **Reading Excel Files with Pandas** ====

#### ==== **Path Configuration** ====

In [39]:
import sys
import os

sys.path.append('/workspaces/fm-face-finder')

#### == **Import Libraries** ==

In [34]:
import pandas as pd

#### == **Configure Excel Path** ==

In [36]:
file_name = "serie_a_1994.xlsx"

In [43]:
excel_file_path = os.path.join('..', '..', 'input', file_name)

In [44]:
excel_file_path

'../../input/serie_a_1994.xlsx'

In [45]:
print(os.getcwd())

/workspaces/fm-face-finder/proj/python_notebook

#### == **Read Excel File** ==

In [48]:
data_frame = pd.read_excel(excel_file_path)

In [49]:
data_frame

                  Name          Club  Nat         UID
0       Roberto Baggio      Juventus  ITA  2002042329
1     Marco van Basten      AC Milan  NED  2002042203
2        Jürgen Kohler      Juventus  GER  2002042856
3          Ruud Gullit      AC Milan  NED  2002042691
4      Gianluca Vialli      Juventus  ITA  2002042326
..                 ...           ...  ...         ...
497   Giovanni Cervone       AS Roma  ITA  2002042763
498     Moreno Mannini  UC Sampdoria  ITA  2002042372
499        Fausto Pari        Napoli  ITA  2002042376
500  Stefano Bonometti       Brescia  ITA  2002042778
501      Franco Baresi      AC Milan  ITA  2002042703

[502 rows x 4 columns]

In [50]:
print(data_frame.iloc[0])

Name    Roberto Baggio
Club          Juventus
Nat                ITA
UID         2002042329
Name: 0, dtype: object

In [51]:
print(f"Number of rows: {data_frame.shape[0]}")

Number of rows: 502